@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: #171414;
}

body::-webkit-scrollbar-thumb {
  background-color: #583df0;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
